@{
  Layout = "_Layout";
}

<h1>Behold!</h1>
<a href='@Url.Action("Index", "Account")'>Click Here to access the account management panel!</a>
<p>@Html.ActionLink("All of the Treats", "Index", "Treats")</p>
<p>@Html.ActionLink("See all Flavors", "Index", "Flavors")</p>