@{
  Layout = "_Layout";
}
@using SweetAndSavory.Controllers
@using System.Security.Claims

<h2>Login to Pierres Sweet and Savory to manage your business!</h2>
<hr />


@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Log out" />
    }
}


else
{
    <form action="Account/Login" method="get">
    <button type="submit" class="btn">Login below or register today to manage your website!</button></form>
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>