@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models

<h2>Do you want to delete this?</h2>

@Html.ActionLink("No", "Index")

<h3>@Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn"/>
}